---
import BaseLayout from "../layouts/BaseLayout.astro";
import ChannelMap from "../components/ChannelMap.astro";
import Hero from "../components/Hero.astro";
import InteractionLoop from "../components/InteractionLoop.astro";
import Principles from "../components/Principles.astro";
import ProjectStatus from "../components/ProjectStatus.astro";
import SiteFooter from "../components/SiteFooter.astro";
import SiteHeader from "../components/SiteHeader.astro";
---

<BaseLayout>
  <SiteHeader />
  <main id="main-content">
    <Hero />
    <InteractionLoop />
    <ChannelMap />
    <Principles />
    <ProjectStatus />
  </main>
  <SiteFooter />
</BaseLayout>
